Flask==3.0.0
flask-cors==4.0.0
PyJWT==2.8.0
gunicorn==21.2.0
flask-mail==0.9.1
itsdangerous==2.1.2
python-dotenv==1.0.0
SQLAlchemy==2.0.23
psycopg2-binary==2.9.9
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
requests==2.31.0

